<% include ./partials/header.ejs %>
    <div class="row jumbotron">
        <div class="col-md-12 text-center">
            <h1 class="">404</h1>
            <h3>Page not found.</h3>
            <a href="/auth" class="btn btn-danger">Back</a>
        </div>
    </div>
<% include ./partials/footer.ejs %>