<% include ./partials/header.ejs %>

<div class="col-md-3" style="position: absolute; right: 25px; z-index: 100;" id="area_message_notifications">
</div>

<div id="mySidenav" class="sidenav col-md-3">
    <div class="col-md-12" style="float: left; top: -40px; left: 10px;">
        <button class="btn btn-primary" data-toggle="modal" data-target="#new_room">Nova Sala</button>
    </div>
</div>
<div style="margin-left: 18%; margin-top: 10px;">
    <div class="col-md-12" style="overflow: scroll; min-height: 550px" id="messages-chat">
    </div>
    <div class="col-md-12">
        <form class="col-md-12">
            <input type="text" placeholder="Digite mensagem" id="new_message_text" class="form-control col-md-12" />
            <button class="btn btn-primary col-md-2">Enviar audio</button>
        </form>
    </div>
</div>
<div class="modal fade" id="new_room" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Room</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form >
                    <input type="text"
                           class="form-control" value=""
                           name="name" id="create_new_room"
                           placeholder="Typing room..." autofocus/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submit_new_room">Create</button>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>