<% include ./partials/header.ejs %>

<div id="mySidenav" class="sidenav col-md-3">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>
<div style="margin-left: 18%; margin-top: 10px;">
    <div class="col-md-12" style="overflow: scroll; min-height: 550px">
        <div class="card col-md-12">
            <div class="card-body">
                <h5 class="card-title">Username</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <br/>
        <div class="card col-md-12">
            <div class="card-body">
                <h5 class="card-title">Username</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <form class="col-md-12">
            <input type="text" placeholder="Digite mensagem" class="form-control col-md-12" />
            <button class="btn btn-primary col-md-2">Enviar audio</button>
        </form>
    </div>
</div>

<% include ./partials/footer.ejs %>