</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    socketFactory().getSocket().on("listRooms", (rooms) => {
        buildListRooms(rooms);
    });

    socketFactory().getSocket().on("newRoom", (room) => {
        addRoom(room);
    });

    $("#submit_new_room").on('click', () => {
        const room = $("#create_new_room").val();
        socketFactory().getSocket().emit("addNewRoom", room);
        $("#create_new_room").val('');
        closeModal();
    });

    /**
     * @description Factory socket.
     */
    function socketFactory(url = 'http://localhost:3000') {
        let socket = null;

        return {
            getSocket() {
                if (!socket) {
                    socket = io(url);
                }
                return socket;
            }
        }
    }

    /**
     * @description Close modal of new room.
     */
    function closeModal() {
        $("#new_room").modal('hide');
    }

    /**
     * @description Build list rooms.
     * @param rooms
     */
    function buildListRooms(rooms) {
        rooms.forEach(room => addRoom(room));
    }

    function addRoom(room) {
        $("#mySidenav").append(`<a href="#" id=${room._id} data-room='true'>${room.name}</a>`)
    }
</script>
</body>
</html>